body
{
	background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
}
h1
{
	font-family:sans-serif;
	color:lightskyblue;
}
h3
{
	font-family:sans-serif;
	color:lightgrey;
}
p
{
	font-family:sans-serif;
	color:lightseagreen;
	size: 15px;
}
button
{
	width:15%;
	border:none;
	border-radius:6px;
	padding:7px;
	border:2px solid lightsteelblue;
	color: limegreen;

}